@font-face {
    font-family: "Rajdhani";
    src: url("../Rajdhani-Medium.woff");
}

html,
body,
#root {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.title {
    font-family:'Rajdhani';
    width:30vw;
    color:#ffffff;
    font-size:5vw;
}

.interface {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: "Rajdhani";
}

.restart {
    display: flex;
    justify-content: center;
    position:absolute;
    top:50%;
    left: 0;
    width: 100%;
    color:#ffffff;
    font-size: 40px;
    padding-top:10px;
    pointer-events: auto;
    cursor:pointer;
}

.count {
    display: flex;
    justify-content: center;
    position:absolute;
    top:10%;
    left: 0;
    width: 100%;
    color:#ffffff;
    font-size: 80px;
    padding-top:10px;
}

/**
 * Controls
 */
 .controls
 {
     position: absolute;
     bottom: 10%;
     left: 0;
     width: 100%;
 }
 
 .controls .raw
 {
     display: flex;
     justify-content: center;
 }
 
 .controls .key
 {
     width: 40px;
     height: 40px;
     margin: 4px;
     border: 2px solid #ffffff;
     background: #ffffff44;
 }
 
 .controls .key.large
 {
     width: 144px;
 }
 
 .controls .key.active
 {
     background: #ffffff99;
 }